
// Colors taken from Luvotels.com
$purple: #590c3d;
$orange: #F5A623;

$white-background: #F6F8FA;
$grey-background: #21262b;

$orange-border: #f39c0b;



$cyan: #1589cb;
$magenta: #AA076B;
$purple: #61045F;


$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;

$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$clear-red: #AA076B;
$dark-red: #61045F;
$broken-white: #FAFAFA;
$black: #333333;
