// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-dashboard-header {
  text-align: center;
  background-color: $orange;
  position: absolute;
  top : 0%;
  left: 0%;
  right: 0%;
  height: 155px;
  color: white;

    h1 {
      margin-bottom: 8px;
    }
    h3 {
      margin-top: 0;
    }
}

.dashboard {
  position: relative;
  padding: 10px;
  height: 200px;
  box-shadow: 0px 0px 2px 1px $orange-border;
  background-color: white;
}

.board {
  padding: 10px;


}

.dashboard-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#user-dashboard-header-bookings {
  font-size: 21px;
}
